{% extends 'afterlogin/layout.html' %} {% block style %}

<style>
    #following-heading {
        color: cadetblue;
        text-align: center;
    }
    #people-containers {
        margin-left: 5%;
        margin-right: 5%;
    }
    #people-containers div {
        padding: 1%;
        text-align: center;
        background-color: lightblue;
        
    }
</style>

{% endblock %} {% block content %} {% load static %}

<div id="following-heading">
    <h1>Following</h1>
</div>
<hr>
<div id="people-containers">

    <br>
    {% for p in people %}
        <div> 
            <form method="post" action="#">
                <strong>{{p.username}}</strong>
                <br>
                <i>{{p.name}}</i>
                <br>
                <input type="hidden" value="{{p.username}}" name="user-to-find">
                <button class="btn btn-light">open</button>
            </form>
        </div>
        <br>
    {% endfor %}
    
</div>

{% endblock %}