{% extends 'afterlogin/layout.html' %} {% block style %}
<style>
    #home-heading {
        color: cadetblue;
        text-align: center;
    }
    #post-containers {
        margin-left: 5%;
        margin-right: 5%;
    }
    #post-containers p {
        color: cadetblue;
    }
    #like-button {
        background-color: transparent;
        border: 0px;
    }
    #image {
        width: 400px;
        height: 300px;
    }

    #friend-container {
        text-align: center;
    }


</style>
{% endblock style %} {% block content %} {% load static %}

    <div id="friend-container">
        <h4>{{person.name}} : ({{person.username}})</h4>
        <form method="post" action="{% url 'findprofile' %}">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{person.username}}">
            <button class="btn btn-light">Go to profile</button>    
        </form>        
    </div>


<hr>

<div id="home-heading">
    <h1>Posts by {{person.username}}</h1>
</div>
{% for post in posts %}

<div id="post-containers">   
    <img src="{{post.image.url}}" id="image">
    <br>
    <strong>{{post.content}}</strong>
    <br>
    <i>{{post.username.name}} ({{post.username.username}})</i>
    <p>timestamp</p>
    <!-- <button id="like-button">🤍</button>❤️ -->
    <hr>
</div>
{% endfor %}
{% endblock %}