{% extends 'afterlogin/layout.html' %} {% block style %}
<style>
    #home-heading {
        color: cadetblue;
        text-align: center;
    }
    #post-containers {
        margin-left: 5%;
        margin-right: 5%;
    }
    #post-containers p {
        color: cadetblue;
    }
    #like-button {
        background-color: transparent;
        border: 0px;
    }
    #image {
        width: 400px;
        height: 300px;
    }
</style>
{% endblock %} {% block content %}
<div id="home-heading">
    <h1>All Posts</h1>
</div>
<hr>
{% for post in posts %}

<div id="post-containers">   
    <img src="{{post.image.url}}" id="image">
    <br>
    <strong>{{post.content}}</strong>
    <br>
    <i>{{post.username.name}} ({{post.username.username}})</i>
    <p>{{post.time}}</p>
    <!-- <button id="like-button">🤍</button>❤️ -->
    <hr>
</div>
{% endfor %}

{% endblock %}